/*##################################Begin All(More Global)############################################*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.text-gray{
    color: darkgray;
}
.text-green{
    color: #02d79e;
}
.text-white{
    color: white;
}
.text-underline{
    text-decoration: underline;
}
.text-red_2{
    color: #ff416c;
}
.text-red_1{
    color: #ff4b2b;
}
.size-font-20{
    font-size:20px;
}
.size-font-25{
    font-size: 25px;
}
.bg-aqua{
    background: #02d79e
}
.bg-smoke{
    background:#f1f1f1 ;
}
.bg-white{
    background: white;
}
.bg-red_2{
    background: #ff416c;
}
.bg-red_1{
    background:#ff4b2b;
}
.bg-gradient-red{
    background-image: linear-gradient(to right,#ff4b2b,#ff416c);
}
.bg-facebook{
    background: #242526;
}
.w-200{
    width: 200%;
}
.w-80{
    width: 80%;
}
.w-60{
    width: 60%;
}
.w-50{
    width: 50%;
}
.w-45{
    width: 45%;
}
.w-30{
    width: 30%;
}
.w-20{
    width: 20%;
}
.h-600{
    height: 600px;
}
.h-350{
    height: 350px;
}
.h-320{
    height: 320px;
}
.mt-200{
    margin-top: 200px;
}
.mt-100 {
    margin-top: 100px;
}
.mt-50{
    margin-top: 50px
}
.mb-200 {
    margin-bottom: 200px;
}
.pl-100{
    padding-left: 100px;
}
.size-image-320{
    width: 320px;
    height: 320px;
}
/*when have we put display grid to item ? we have put display grid to item when the parent to element from type display flex */
.align-items-start-grid{
    display: grid;
    place-content: start;
}
.align-items-center-grid{
    display: grid;
    place-content: center;
    place-items: center;
}
.hidden-border-left{
    border-left: none;
}
.border-radius-15{
    border-radius: 15px;
}
.stop-scroll-x{
    overflow-x:hidden ;
}
.stop-style-type-li{
    list-style-type:none;
}
/*##################################End All###################################################*/

/*#########################Begin All###################*/
.section-left{
    float: left;
    padding: 10px;
}
.section-right{
    float: right;
    padding: 10px;
}
.form{
    width: 100%;
    box-shadow: 2px 2px 2px silver;
    z-index: 1;
}
.part_eyebrow_to_form{
    width: 45%;
    z-index: 1;
    position:absolute;
}
.container-icon {
    text-align: center;
    width: 60px;
    height: 60px;
    border: 1px solid lightgray;
    border-radius: 50%;
    box-shadow: 2px 2px 2px silver;
    cursor:pointer;
}
.icon{
    font-size: 26px;
    margin-top: 15px;
}
/*##################################End All##################################################*/

/*##################################Begin animation############################################*/
@keyframes move_to_right {
    0%{
        left:0;
    }
    20%{
        width: 48%;

    }
    40%{
        width:50%;
    }
    60%{
        width:48%;
    }
    80%{
        width: 45%;
    }
    100%{
        left: 55%;
    }
}
@keyframes move_to_left {
    0%{
        right:0;
    }
    20%{
        width: 48%;

    }
    40%{
        width:50%;
    }
    60%{
        width:48%;
    }
    80%{
        width: 45%;
    }
    100%{
        right: 55%;
    }
}
/*##################################End animation##############################################*/
