/*############################## All Style Admin #####################*/
.w-1000px{
    width: 1000px;
}
.w-150{
    width: 150%;
}
.w-80{
    width: 80%;
}
.w-15{
    width: 15%;
}
.h-100{
    height: 100%;
}
.h-200px{
    height: 200px;
}
.h-300px{
    height: 300px;
}
.bg-white{
    background-color: whitesmoke;
}
.mr-320px{
    margin-right: 320px;
}
.mr-100px{
    margin-right:100px ;
}
.ml-45px{
    margin-left: 45px;
}
.mr-min-200px{
    margin-right: -200px;
}
.mr-min-220px{
    margin-right: -220px;
}
.pr-350px{
    padding-right: 350px;
}
.right-2px{
    right: 2px;
}
.font-size-24px{
    font-size: 24px;
}
.font-size-20px{
    font-size: 20px;
}
.image-size-400px{
    height: 400px;
}
.image-size-150px{
    width: 150px;
    height: 75px;
    margin-top: -25px;
    margin-right: 37px;
}
.image-size-65px{
    width: 65px;
    margin-top: -10px;
    margin-right: -17px;
    height: 55px;
}
.input-style{
    border:none;
    outline: none;
    background-color: transparent;
    color: black;
    border-bottom: 1px solid black;
}
.stop-scroll-x{
    overflow-x: hidden;
}
.shadow-silver{
    box-shadow: 2px 2px 2px silver;
}
.border-radius-10{
    border-radius: 10px;
}


